.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(62, 9, 106, 0.9), rgba(62, 9, 106, 0.9)), url("../../images/school-back.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

.login-container h2 {
  color: white;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form input {
  padding: 5%;
}

.email-input {
  padding: 6%;
}

.password-input {
  display: flex;
  align-items: center;
  border: 1px solid #767676;
  background-color: white;
  padding: 2%;
}

.password-input input {
  flex: 1;
  border: none;
}

form input:focus {
  outline: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.submit-button {
  background-color: #863ac8;
  color: white;
  padding: 5%;
}

.submit-button:hover {
  background-color: #9738e4;
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}
