.middle-div {
  display: none;
}

.middle-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.middle-list li {
  border-bottom: 1px solid #dec97f;
}

.mobile-menu {
  position: sticky;
  padding: 4% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-section {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  z-index: 9999;
}

.logo-sec {
  width: 200px;
  object-fit: cover;
  top: -90%;
  z-index: 9999;
  position: absolute;
  left: -10%;
}

.destined-name {
  display: none;
}

.destined-name p {
  font-weight: 900;
  font-size: 15px;
  color: #dec97f;
}

.logo-name {
  display: flex;
  flex-basis: 30%;
  gap: 10px;
}

.menu {
  position: relative;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.menu span {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: #dec97f;
  border-radius: 0.2rem;
  transition: transform 0.3s ease-in-out;
}

.menu span:nth-child(2) {
  top: 0.8rem;
}

.open {
  display: flex;
  background-color: black;
  padding-top: 20%;
  color: gold;
  list-style: none;
  padding-bottom: 10%;
}

.open-menu {
  display: flex;
}

.menu span:nth-child(3) {
  top: 1.6rem;
}

.menu.open-menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 0.8rem;
}

.menu.open-menu span:nth-child(2) {
  transform: rotate(-45deg);
  top: 0.8rem;
}

.menu.open-menu span:nth-child(3) {
  transform: scaleX(0);
}

.close {
  display: none;
}

.list {
  font-weight: 600;
  color: #dec97f;
  text-decoration: none;
  padding: 5%;
  font-size: 24px;
}

.login {
  font-weight: 600;
  color: #dec97f;
  text-decoration: none;
  padding: 5%;
  font-size: 24px;
}

.active {
  font-weight: 900;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .middle-div {
    display: flex;
  }

  .middle-list {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dec97f;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .logo-sec {
    top: -160%;
    left: -8%;
  }

  .login:hover {
    background-color: rgb(240, 239, 239);
    color: black;
  }

  .login:active {
    background-color: #000;
    text-decoration: none;
  }

  .active {
    text-decoration: underline;
  }

  .destined-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-name {
    flex-basis: auto;
    align-items: center;
  }

  .destined-name p {
    font-size: 18px;
  }

  .menu-section {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.4%;
  }

  .list {
    padding: 0;
    font-size: 0.99rem;
  }

  .mobile-menu {
    padding: 0;
  }

  .middle-list li {
    border: none;
  }

  .why-us div {
    padding: 5% 15% 5% 15%;
  }
}
