.news-section {
  width: 80%;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.news-section p {
  margin-bottom: 3%;
}

.news-section-heading {
  font-size: 24px;
  color: #292727;
  margin-bottom: 20px;
}

.event-drop {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dec97f;
  color: #000;
  padding: 4%;
  transition: background-color 0.3s;
}

.event-drop:hover {
  cursor: pointer;
  background-color: #dec97f;
  color: #000;
}

.events-cont {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 2%;
  flex-direction: column;
  align-items: flex-start;
}

.event-first {
  display: flex;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}

.event-second {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.event-time {
  font-size: 15px;
}

.event-name {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-bottom: 8px;
}

.event-answer {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: #555;
  line-height: 1.5;
  margin-top: 0;
}

.uppercase {
  text-transform: uppercase;
}

.event-attend {
  background-color: #dec97f;
  color: #000;
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
}

.event-more {
  background-color: #f5f5f5;
  color: #000;
  padding: 4px;
  border: 0.5px solid #dec97f;
  transition: background-color 0.5s ease;
  font-size: 12px;
}

.event-more:hover {
  background-color: #dec97f;
  color: #000;
  cursor: pointer;
}

.download-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #000;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-link:hover {
  background-color: #dec97f;
  color: #000;
}

.download-icon {
  margin-left: 8px;
}

.download-link span {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .event-drop {
    padding: 0.7%;
  }

  .event-first {
    gap: 40px;
  }

  .event-second {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }

  .event-time {
    font-size: 12px;
  }

  .events-cont {
    padding: 1.5%;
  }

  .event-name {
    font-size: 20px;
  }

  .news-section {
    padding: 10px 90px;
  }
}
