.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: absolute;
  top: 1.3rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.close {
  display: none;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

.nav-div {
  background-color: #4b0082;
  color: white;
  font-weight: 500;
  width: 100%;
  padding: 25px;
}

.active {
  color: gold;
}

a {
  color: white;
  text-decoration: none;
}

.search-links {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}

.nav-div ul {
  list-style: none;
  font-weight: 500;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
}

.nav-div li a {
  transition: font-size 0.25s;
}

.nav-div li a:hover {
  cursor: pointer;
  font-size: 21px;
}

.search-hover:hover {
  cursor: pointer;
}

.search-container {
  display: block;
  position: relative;
  margin-left: 64%;
  margin-bottom: 10px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.search-input {
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  background-color: #ffff;
}

.search-input-in {
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  border: 1px solid #ffff;
  border-radius: 50px;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #ffff;
}

@media (max-width: 1102px) {
  nav .menu {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 100%;
    align-self: center;
  }

  .nav-list li {
    padding: 10px;
  }

  .nav-container {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .search-container {
    margin-left: 0;
  }

  .search-links {
    display: none;
    align-self: center;
    width: 100%;
    flex-direction: column-reverse;
  }

  .open {
    display: flex;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
  }

  .close:hover {
    color: rgb(12, 174, 188);
  }
}
